*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}

/* Header Start */

.header{
    width: 90%;
    height: 80px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #00ff99;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{ 
    color: #f2f2f2;
    float: left;
    line-height: 80px;
    text-transform: uppercase;
}

#first-name{
    color: #00ff99;
}

.navbar{
    font-size: 18px;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #f2f2f2;
}

.navbar ul li a:hover{
    color: #00ff99;
    transition: 0.5s;
}

/* Header End */

/* Container Start */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.row{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column{
    width: 28%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column:hover{
    box-shadow: 0 0 4px 0 #262626;
    transition: 0.2s;
}

.column h2{
    padding: 10px;
}

.column p{
    text-align: justify;
    font-size: 18px;
}

.myself-brdr{
    width: 88%;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.myself{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 20px;
}

.myself-img{
    width: 45%;
}

.myself-img img{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}

.myself-info{
    width: 45%;
    padding: 20px;
    border: 1px solid #262626;
    border-radius: 10px;
}

.myself-info h3, p{
    padding: 10px;
}

/* Container End */

.interest{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.interest .fa-solid{
    font-size: 64px;
    padding: 20px;
    color: #262626;
}

.interest-align{
    text-align: center;
    text-transform: uppercase;
}

.myinterst-heading{
    width: 84%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.myinterst-heading .heading{
    padding-bottom: 30px;
}
/* Footer Start */

.footer{
    color: #f2f2f2;
    letter-spacing: 2px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 82px;
    background-color: #262626;
    border-top: 2px solid #00ff99;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer .fa-brands{
    font-size: 18px;
    line-height: 80px;
    color: #00ff99;
}

/* Footer End */