* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #e6e6e6;
}

.template {
    width: 960px;
    height: 1245px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background-color: #04aa66;
    height: 80px;
    width: 100%;
    border-radius: 8px;
}

.header img {
    height: 80px;
    width: 80px;
    padding-left: 35px;
}

.header p {
    color: #000000;
    float: right;
    font-size: 36px;
    margin: 20px 35px 0 0;

}

.header p:hover {
    color: #ffffff;
    transition: 0.5s;
}

.navbar {
    background-color: #333333;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: black;
    background-color: #04aa66;
    border-radius: 6px;
}

.container {
    height: 910px;
    width: 100%;
}

.maincontent {
    height: 860px;
    width: 726px;
    float: left;
}

.maincontent h2 {
    background-image: linear-gradient(to left, #e6e6e6, #04aa66);
    padding: 4px;
    border-radius: 8px;
}

.maincontent p {
    padding: 5px 10px 68px 0;
    text-align: justify;
    text-justify: inter-word;
}

.maincontent img {
    float: left;
    margin: 5px 5px 5px 0;
    border-radius: 6px;
}

.maincontent button {
    border: none;
    font-size: 14px;
    float: right;
    margin: -50px 10px 0 0;
    padding: 4px;
    border-radius: 6px;
    color: #f2f2f2;
    background-color: #333333;
}

.maincontent button:hover {
    color: #000000;
    background-color: #04aa66;
    transition: 1s;
}

.sidebar {
    height: 430px;
    width: 234px;
    float: right;
}

.sidebar h4 {
    background-image: linear-gradient(to left, #e6e6e6, #04aa66);
    padding: 4px;
    border-radius: 6px;
}

.sidebar audio {
    height: 42px;
    width: 222px;
    margin: 5px 5px 5px 0;
    border-radius: 6px;
}

.sidebar video {
    width: 222px;
    margin: 5px 5px 5px 0;
    border-radius: 6px;
}

.footer {
    color: #000000;
    width: 940px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #04aa66;
}

.footer a {
    border-bottom: 2px solid #333333;
}

.column {
    font-weight: bold;
    height: 160px;
    width: 293px;
    padding: 10px;
    text-align: justify;
    border-bottom: 4px solid #333333;
}