*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

h1{
    margin-bottom: 15px;
}

#h1{
    padding-top: 50px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/bg-cvr.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;

}

nav{
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;

}

nav img{
    width: 80px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #111111;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #111111;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.hero-btn:hover{
    color: #111111;
    border: 1px solid #111111;
    background: #f2f2f2;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

@media (max-width: 640px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f2f2f2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color:#111111;
        margin: 10px;
        font-size: 36px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 36px;
    }
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 40px;
    font-weight: 600;
}

.course p{
    color: #111111;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.course-col{
    flex-basis: 30%;
    background: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(40,40,40,0.4);
}

@media (max-width: 640px){
    .row{
        flex-direction: column;
    }
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(40,40,40,0.6);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #f2f2f2;
    font-size: 22px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 48%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.facilities-col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.formllimg{
    height: 100%;
}

.facilities-col h3{
    padding-top: 10px;
}

.facilities-col p{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
}

.testimonial-col{
    flex-basis: 26%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f2f2f2;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

@media (max-width: 640px){
    .testimonial-col img{
        margin-left: 0;
        margin-right: 15px;
    }
}

.cta{
    margin: 80px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/bg-cvr2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #f2f2f2;
    margin-bottom: 40px;
    padding: 0;
}

.footer{
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-top: 4px solid #111111;
    border-bottom: 4px solid #111111;
    border-radius: 10px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer h4 a{
    color:#111111;
    text-decoration: none;
}

.footer p{
    margin: 15px;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,8,30,0.6),rgba(4,8,30,0.6)), url(images/bg-cvr.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f2f2f2;
    border-radius: 10px;
}

.sub-header h1{
    margin-top: 80px;
}

.padd-bott{
    padding-bottom: 20px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

.about-col{
    flex-basis: 48%;
}

.about-col img{
    width: 100%;
    border-radius: 10px;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #111111;
    background: transparent;
    color: #111111;
    margin-bottom: 30px;
}

.float-right{
    float: right;
}

.center {
    border-radius: 10px;
    position: relative;
    width: 100%;
    background: #f2f2f2;
}

.center h3{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #111111;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field{
    position: relative;
    border-bottom: 2px solid #111111;
    margin: 30px 0;
}

.text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #111111;
    opacity: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.text-field span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 0;
    background: #111111;
    transition: 0.5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -5px;
    color: #111111;
}

.text-field input:focus ~ span::before,
.text-field input:focus ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    color: #f2f2f2;
    background-color: #111111;
    transition: 1s;
}

.signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}

.signup-link a{
    color: blue;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

.comment-box{
    border: 1px solid #111111;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.comment-box h3 {
	text-align: center;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #111111;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #ffffff;
}

.post-btn{
    margin: 10px 0;
	width: 100%;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.post-btn:hover{
    color: #f2f2f2;
    background-color: #111111;
    transition: 1s;
}